<footer id="footer" class="footer">
	<div class="container">
		<div class="footer-top">
			<div class="row">
				<div class="widget col-xs-12  col-sm-2 col-xs-6">
					<h4 class="widget-title">Site Links</h4>
					<ul class="entries links ">
						<li><a href="http://www.lccc.3bit.co.uk/news/index.html">News</a></li>
						<li><a href="/cricket/first-xi-fixtures.html">First XI Fixtures</a></li>
						<li><a href="http://www.lccc.3bit.co.uk/cricket/2016/first-xi-players.html">First XI Players</a></li>
						<li><a href="/cricket/second-xi-fixtures.html">Second XI Fixtures</a></li>
						<li><a href="http://www.lccc.3bit.co.uk/cricket/2016/coaching-staff.html">Coaching Staff</a></li>
						<li><a href="https://ticketing-lccc.crmporium.com">Tickets</a></li>
					</ul>
				</div>
				<div class="widget col-xs-6 col-sm-2  col-xs-6">
					<h4 class="widget-title">Information</h4>
					<ul class="entries links">
						<li><a href="http://www.lccc.3bit.co.uk/cricket/contact-us.html">Contact Us</a></li>
						<li><a href="http://www.lccc.3bit.co.uk/cricket/how-to-find-us.html">How to find us</a></li>
						<li><a href="http://www.lccc.3bit.co.uk/recruitment.html">Recruitment</a></li>
						<li><a href="/terms-and-conditions.html	">Terms and Conditions</a></li>
						<li><a href="/privacy.html">Privacy</a></li>
						<li><a href="/merchandise-terms-and-conditions.html">Shop Terms and Conditions</a></li>
					</ul>
				</div>
				<div class="clearfix visible-xs"></div>
				<div class="widget col-xs-12 col-sm-3 col-xs-6 super-small-12">
					<h4 class="widget-title">Join our Mailing List</h4>
					<form action="#" method="post" onsubmit="return false;">
						<div class="input-group">
							<input name="email" type="text" id="femail" placeholder="youremail@mail.com" class="form-control">
							<span class="input-group-append">
								<button class="btn btn-primary" name="submit" type="submit" id="mailing_submit">Subscribe</button>
						  </span>
						</div>
					</form>
					<ul class="entries social-links">
						<li class="widget-title bold">FOLLOW US</li>
						<li><a href="http://www.twitter.com/leicsccc"><i class="fa fa-twitter-square"></i></a></li>
						<li><a href="https://www.facebook.com/leicsfoxes"><i class="fa fa-facebook-square"></i></a></li>
						<li><a href="https://instagram.com/leicsccc"><i class="fa fa-instagram"></i></a></li>
						<li><a href="https://www.youtube.com/user/leicestershireccc1/videos"><i class="fa fa-youtube-square"></i></a></li>
					</ul>
				</div>
				<div class="widget col-xs-12 col-sm-5 col-xs-6 super-small-12">
					<h4 class="widget-title">Leicestershire County Cricket Club</h4>
					<address>
						Fischer County Ground,<br>
						Grace Road,<br>
						Leicester,<br>
						Leicestershire, LE2 8EB
					</address>
					<p>
						<i class="fa fa-phone"></i> 0116 283 2128 (Main Switchboard)<br>
						<i class="fa fa-fax"></i> 0116 2440363 <br>
						<i class="fa fa-envelope-o"></i> <a href="mailto:&#101;&#110;&#113;&#117;&#105;&#114;&#105;&#101;&#115;&#064;&#108;&#101;&#105;&#099;&#101;&#115;&#116;&#101;&#114;&#115;&#104;&#105;&#114;&#101;&#099;&#099;&#099;&#046;&#099;&#111;&#046;&#117;&#107;">&#101;&#110;&#113;&#117;&#105;&#114;&#105;&#101;&#115;&#064;&#108;&#101;&#105;&#099;&#101;&#115;&#116;&#101;&#114;&#115;&#104;&#105;&#114;&#101;&#099;&#099;&#099;&#046;&#099;&#111;&#046;&#117;&#107;</a>
					</p>
				</div>
			</div>
		</div>
		<div class="footer-bottom">
			<p>&copy; 2020 by <a href="http://www.leicestershireccc.co.uk">Leicestershire County Cricket Club</a>. All Rights Reserved. </p>
		</div>
	</div>
</footer>