<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="author" content="We Build Websites - 3bit.co.uk">
	<meta name="csrf-param" content="_csrf">
	<meta name="csrf-token" content="VFZ5eWVmUkdiMi0gDFU/MCUvAwgOFCg9BwcuCQs.FHIlIiMxPSs7cw==">
	<title>Leicestershire County Cricket Club</title>
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/favicon/apple-touch-icon-144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/favicon/apple-touch-icon-114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/favicon/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="images/favicon/apple-touch-icon-57-precomposed.png">
	<link rel="shortcut icon" href="images/favicon/favicon.png">
	<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link media="all" rel="stylesheet" href="css/swiper.min.css">
	<link media="all" rel="stylesheet" href="css/all.css">
</head>