<section class="section sponsors">
				<div class="container">
					<h1>Our sponsors</h1>
					<ul class="sponsors-list primary">
						<li>
							<a href="http://www.dmu.ac.uk/" target="_blank" rel="noopener noreferrer" title=" Official Front Of Shirt Partner">
								<img src="images/img01.png" alt="uptonsteel">
								<span>Official Front Of Shirt Partner</span>
							</a>
						</li>
						<li>
							<a href="http://www.next.co.uk/" target="_blank" rel="noopener noreferrer">
								<img src="images/img02.png" alt="Next">
								<span>Official Front Of Shirt Sponsor for Royal London One-Day CUP</span>
							</a>
						</li>
						<li>
							<a href="http://www.fischerfutureheat.com" target="_blank" rel="noopener noreferrer">
								<img src="images/img03.gif" alt="Fischer Future Heat">
								<span>Official Ground Naming Rights Partner</span>
							</a>
						</li>
					</ul>
					<ul class="sponsors-list secondary">
						<li>
							<a href="http://www.marstonspedigree.co.uk/" target="_blank" rel="noopener noreferrer">
								<img src="images/img04.png" alt="Pedigree Logo">
							</a>
						</li>
						<li>
							<a href="http://www.clementsretail.com/" target="_blank" rel="noopener noreferrer">
								<img src="images/img05.png" alt="Clements">
							</a>
						</li>
						<li>
							<a href="http://www.ajginternational.com/" target="_blank" rel="noopener noreferrer">
								<img src="images/img06.png" alt="Arthur J Gallagher">
							</a>
						</li>
						<li>
							<img src="images/img07.png" alt="Admiral">
						</li>
						<li>
							<a href="http://www.m-ec.co.uk/" target="_blank" rel="noopener noreferrer">
								<img src="images/img08.png" alt="MEC">
							</a>
						</li>
						<li>
							<img src="images/img09.png" alt="Kukri">
						</li>
						<li>
							<a href="http://www.msc-nutrition.co.uk/" target="_blank" rel="noopener noreferrer">
								<img src="images/img10.png" alt="MSC">
							</a>
						</li>
						<li>
							<a href="http://www.nuffieldhealth.com/" target="_blank" rel="noopener noreferrer">
								<img src="images/img11.gif" alt="Nuffield Health">
							</a>
						</li>
						<li>
							<a href="http://www.morningsidepharm.com/" target="_blank" rel="noopener noreferrer">
								<img src="images/img12.gif" alt="Morningside Pharmaceuticals LTD">
							</a>
						</li>
						<li>
							<a href="http://www.paullsvehiclerental.co.uk/" target="_blank" rel="noopener noreferrer">
								<img src="images/img13.jpg" alt="Paulls Vehicle rental">
							</a>
						</li>
					</ul>
				</div>
			</section>