$red-light: #f00;
$red-alt: #e30513;
$red-dark: #922f2f;

$brand-color-alt: $red-alt;

$alt-link-color: $red-dark;
$alt-link-color-hover: $red-light;

$animation-speed: 0.15s;
$animation-speed-slow: 0.5s;
$animation-effect: ease-in-out;
