.footer{
    position:relative;
    z-index:2;
    padding:35px 0 11px;
    font-size:14px;
    line-height:20px;
    color:#fff;
    .container{
        padding:0;
    }
    .widget{
        @include media("<tablet") {
            padding-bottom:40px;
        }
    }
    h4{
        margin:0 0 37px;
        font-size:18px;
        line-height:20px;
        text-transform:uppercase;
    }
    .entries{
        @extend %listreset;
    }
    address{
        margin:0 0 10px;
    }
    .form-control{
        height:34px;
        padding:6px 12px;
        font-size:14px;
        line-height:20px;
        color:#555;
        @include placeholder {
            color:#999;
            opacity:1;
        }
    }
    .btn{
        padding:6px 12px;
        font-size:14px;
        line-height:20px;
        &.btn-primary{
            background:$brand-color-alt;
            &:hover{
                background:$link-hover-color;
            }
        }
    }
    .social-links{
        display:flex;
        justify-content:space-between;
        align-content:center;
        padding:20px 0 0;
        font-size:24px;
        line-height:24px;
        align-items:baseline;
        .widget-title{
            font-size:18px;
            font-weight:bold;
        }
    }
}
.footer-top{
    padding:0 36px 20px;
    @include media("<tablet") {
        padding-left:15px;
        padding-right:15px;
    }
}
.footer-bottom{
    padding:11px 28px 0;
    border-top:1px solid #000;
    @include media("<tablet") {
        padding-left:15px;
        padding-right:15px;
    }
}