@font-face {
  font-family: "iconfont";
  src: url("../fonts/iconfont.eot");
  src: url("../fonts/iconfont.eot?#iefix") format("eot"), url("../fonts/iconfont.woff2") format("woff2"), url("../fonts/iconfont.woff") format("woff"), url("../fonts/iconfont.ttf") format("truetype"), url("../fonts/iconfont.svg#iconfont") format("svg"); }

.icon:before {
  font-family: "iconfont";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  /* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
  text-decoration: none;
  text-transform: none; }

.icon-arrow-down-alt:before {
  content: "\E001"; }

.icon-arrow-down:before {
  content: "\E002"; }

.icon-arrow-right:before {
  content: "\E003"; }

.icon-bell:before {
  content: "\E004"; }

.icon-box:before {
  content: "\E005"; }

.icon-chart:before {
  content: "\E006"; }

.icon-chat:before {
  content: "\E007"; }

.icon-check:before {
  content: "\E008"; }

.icon-checkmark:before {
  content: "\E009"; }

.icon-close:before {
  content: "\E00A"; }

.icon-delete:before {
  content: "\E00B"; }

.icon-dots:before {
  content: "\E00C"; }

.icon-down:before {
  content: "\E00D"; }

.icon-edit:before {
  content: "\E00E"; }

.icon-expand:before {
  content: "\E00F"; }

.icon-eye:before {
  content: "\E010"; }

.icon-gear-alt:before {
  content: "\E011"; }

.icon-gear:before {
  content: "\E012"; }

.icon-home:before {
  content: "\E013"; }

.icon-info:before {
  content: "\E014"; }

.icon-link:before {
  content: "\E015"; }

.icon-logo:before {
  content: "\E016"; }

.icon-network:before {
  content: "\E017"; }

.icon-pause:before {
  content: "\E018"; }

.icon-people:before {
  content: "\E019"; }

.icon-pin:before {
  content: "\E01A"; }

.icon-play:before {
  content: "\E01B"; }

.icon-plus:before {
  content: "\E01C"; }

.icon-search:before {
  content: "\E01D"; }

.icon-star:before {
  content: "\E01E"; }

.icon-warning:before {
  content: "\E01F"; }

.clearfix:after, .input-holder:after {
  content: '';
  display: block;
  clear: both; }

.ellipsis {
  white-space: nowrap;
  /* 1 */
  text-overflow: ellipsis;
  /* 2 */
  overflow: hidden; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

* {
  max-height: 1000000px; }

body {
  color: #666;
  background: #fff;
  font: 14px/1.429 "Arial", "Helvetica Neue", "Helvetica", sans-serif;
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: top; }

.gm-style img {
  max-width: none; }

a, button, input[type="submit"] {
  cursor: pointer;
  transition: color 0.2s ease, background-color 0.2s ease, opacity 0.2s ease, border-color 0.2s ease, visibility 0.2s ease, transform 0.2s ease;
  -webkit-transition: color 0.2s ease, background-color 0.2s ease, opacity 0.2s ease, border-color 0.2s ease, visibility 0.2s ease, -webkit-transform 0.2s ease; }

@media only screen and (min-width: 1025px) {
  a[href^=tel], a[href^=skype], a[href^=sms] {
    cursor: default;
    pointer-events: none; } }

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
.h {
  font-family: inherit;
  font-weight: bold;
  margin: 0 0 0.5em;
  color: inherit; }

h1, .h1 {
  font-size: 30px; }

h2, .h2 {
  font-size: 27px; }

h3, .h3 {
  font-size: 24px; }

h4, .h4 {
  font-size: 21px; }

h5, .h5 {
  font-size: 17px; }

h6, .h6 {
  font-size: 15px; }

p {
  margin: 0 0 1em; }

a {
  color: #4a90e2;
  text-decoration: none; }
  a:hover {
    color: #7fb0ea; }

form,
fieldset {
  margin: 0;
  padding: 0;
  border-style: none; }

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='search'],
input[type='password'],
textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  outline: 0;
  border: 1px solid #666;
  padding: 0.4em 0.7em; }
  input[type='text']:focus,
  input[type='tel']:focus,
  input[type='email']:focus,
  input[type='search']:focus,
  input[type='password']:focus,
  textarea:focus {
    border-color: #000; }
  input[type='text']::-webkit-input-placeholder,
  input[type='tel']::-webkit-input-placeholder,
  input[type='email']::-webkit-input-placeholder,
  input[type='search']::-webkit-input-placeholder,
  input[type='password']::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: #666; }
  input[type='text']::-moz-placeholder,
  input[type='tel']::-moz-placeholder,
  input[type='email']::-moz-placeholder,
  input[type='search']::-moz-placeholder,
  input[type='password']::-moz-placeholder,
  textarea::-moz-placeholder {
    opacity: 1;
    color: #666; }
  input[type='text']:-moz-placeholder,
  input[type='tel']:-moz-placeholder,
  input[type='email']:-moz-placeholder,
  input[type='search']:-moz-placeholder,
  input[type='password']:-moz-placeholder,
  textarea:-moz-placeholder {
    color: #666; }
  input[type='text']:-ms-input-placeholder,
  input[type='tel']:-ms-input-placeholder,
  input[type='email']:-ms-input-placeholder,
  input[type='search']:-ms-input-placeholder,
  input[type='password']:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    color: #666; }
  input[type='text'].placeholder,
  input[type='tel'].placeholder,
  input[type='email'].placeholder,
  input[type='search'].placeholder,
  input[type='password'].placeholder,
  textarea.placeholder {
    color: #666; }

select {
  -webkit-border-radius: 0; }

textarea {
  resize: vertical;
  vertical-align: top;
  max-width: 100%;
  overflow: auto; }

button,
input[type='button'],
input[type='reset'],
input[type='file'],
input[type='submit'] {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  cursor: pointer; }

.label,
label {
  display: inline-block;
  vertical-align: top; }

.input-holder {
  position: relative; }

.input-placeholder-text {
  white-space: nowrap;
  cursor: text; }
  .area .input-placeholder-text {
    white-space: normal; }

#wrapper {
  position: relative;
  overflow: hidden; }

.w1 {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px; }

/*# sourceMappingURL=all.css.map */
