$breakpoints:(
	'xs-phone':320px,
	'phone':480px,
	'tablet':768px,
	'desktop':992px,
	'widescreen':1200px
);

// keywords
$media-expressions:(
	'screen':'screen',
	'print':'print',
	'handheld':'handheld',
	'landscape':'(orientation:landscape)',
	'portrait':'(orientation:portrait)',
	'retina2x':'(-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi)',
	'retina3x':'(-webkit-min-device-pixel-ratio:2.5), (min-resolution:240dpi)'
);

// ligatured operators ≥ ≤

@import 'vendors/include-media';
@import 'custom';

@import 'base/variables';
@import 'base/functions';
@import 'base/mixins';
@import 'base/helpers';

@import 'layout/header';
@import 'layout/footer';

::selection{
	text-shadow:none;
	color:#fff;
	background:#00374c;
}
a,
button{
	transition: color $animation-speed $animation-effect,
				background-color $animation-speed $animation-effect,
				border-color $animation-speed $animation-effect,
				box-shadow $animation-speed $animation-effect;
}
img{
	vertical-align:top;
	max-width:100%;
	height:auto;
}
html{
	font-size:20px;
}
html,
body,
.wrapper{
	height:100%;
}
.wrapper{
	display:flex;
	flex-direction:column;
	padding-top:146px;
	@include media("<desktop") {
		padding-top:143px;
	}
	@include media("<phone") {
		padding-top:89px;
	}
}
.container{
	width:1230px;
	max-width:100%;
}
.header,
.footer{
	flex-shrink:0;
	color:#fff;
	background:$gray-700;
	a{
		color:#fff;
		&:hover{
			color:$link-color;
		}
	}
}
.main{
	flex-grow:1;
	position:relative;
	z-index:1;
	h1{
		margin:0 0 30px;
		font-size:50px;
		line-height:58px;
		font-weight:bold;
		color:$primary;
		@include media("<desktop") {
			font-size:40px;
			line-height:46px;
		}
		@include media("<tablet") {
			margin-bottom:10px;
			font-size:30px;
			line-height:34px;
		}
	}
	h2{
		margin:0 0 10px;
		font-size:30px;
		line-height:36px;
		font-weight:bold;
		color:$primary;
		@include media("<desktop") {
			font-size:29px;
			line-height:32px;
		}
		@include media("<tablet") {
			font-size:27px;
			line-height:30px;
		}
	}
	p{
		margin:0 0 10px;
		font-weight:300;
		strong{
			font-weight:bold;
		}
	}
	ul{
		position:relative;
		margin:0 0 10px;
		padding:0 0 0 20px;
		list-style:none;
		font-size:17px;
		line-height:20px;
		>li{
			padding:0 0 4px;
			font-weight:300;
			&:before{
				position:absolute;
				content:"\2022";
				left:0;
				font-size:1.647em;
			}
		}
	}
	hr{
		border-color:$red-light;
	}
	.articles-list{
		padding:0;
		>li{
			padding:24px 0 10px;
			border-top:1px solid $primary;
			&:first-child{
				padding-top:0;
				border:0;
			}
			&:before{
				display:none;
			}
		}
		a{
			display:block;
			&:hover{
				h4{
					color:$link-color;
				}
			}
		}
		img{
			margin:0 0 10px;
		}
		h4{
			margin:0;
			font-size:16px;
			line-height:22px;
			font-weight:500;
			color:#000;
			transition:color $animation-speed $animation-effect;
		}
	}
	.filters{
		margin:0 -5px;
		padding:0 0 25px;
		>li{
			padding:0 5px 10px;
			&:before{
				display:none;
			}
		}
		.btn.btn-sm{
			font:12px/18px Arial, Helvetica, sans-serif;
		}
	}
	.pagination{
		padding:0;
		>li{
			padding:0;
			&:before{
				display:none;
			}
		}
		.page-link{
			padding:5px 10px;
			font:12px/18px Arial, Helvetica, sans-serif;
		}
		span.page-link{
			background:#fff;
		}
	}
}
.page-header{
	margin:0 0 20px;
	padding:0 0 19px;
	border-bottom:1px solid #eee;
	h1{
		margin:0;
		font-size:36px;
		line-height:40px;
		font-weight:500;
		color:inherit;
		small{
			font-size:65%;
			line-height:1;
			color:#777;
		}
	}
}
.news-list{
	margin:0 -6px 40px;
	font:14px/20px Arial, Helvetica, sans-serif;
	.news-item{
		padding:0 6px 20px;
	}
	a{
		display:block;
		position:relative;
		height:153px;
		overflow:hidden;
		color:#fff;
		&:hover{
			img{
				opacity:1;
			}
			h3{
				background:#d3190f;
			}
		}
	}
	img{
		width:100%;
		opacity:0.75;
		transition:opacity $animation-speed $animation-effect;
	}
	.caption{
		position:absolute;
		left:0;
		top:72px;
		max-width:100%;
	}
	time{
		float:left;
		clear:both;
		padding:3px 6px;
		text-transform:uppercase;
		background:#d3190f;
	}
	h3{
		float:left;
		clear:both;
		margin:0;
		padding:6px;
		font-size:20px;
		line-height:22px;
		font-weight:500;
		color:inherit;
		background:rgba(0, 0, 0, 0.75);
		transition:background-color $animation-speed $animation-effect;
	}
}
.article-img{
	margin:0 0 57px;
	@include media("<tablet") {
		margin:0 0 30px;
	}
	img{
		width:100%;
	}
}
.article-badge{
	margin:2px 0 25px;
	padding:0 15px 0 6px;
	font-size:14px;
	line-height:16px;
	font-weight:bold;
	text-align:right;
	border:solid $primary;
	border-width:0 1px 0 0;
	@include media("<tablet") {
		display:inline-block;
		vertical-align:top;
		padding:0 0 5px;
		text-align:left;
		border-width:0 0 1px;
	}
	strong{
		display:block;
	}
	time{
		display:block;
		color:#969696;
	}
}
.list-limited{
	width:90%;
}
.sidebar{
	padding-top:20px;
	h3{
		margin:0 0 10px;
		font-size:30px;
		line-height:36px;
		font-weight:300;
		color:$primary;
		text-transform:uppercase;
		@include media("<desktop") {
			font-size:29px;
			line-height:32px;
		}
		@include media("<tablet") {
			font-size:27px;
			line-height:30px;
		}
	}
}
.twitter-holder{
	position:relative;
	width:100%;
	overflow:hidden;
}
.decor-link{
	position:relative;
	color:$alt-link-color;
	font-weight:bold;
	&:hover{
		color:$alt-link-color-hover;
		box-shadow:0 1px 0 #337ab7;
	}
	&.alt{
		font-weight:inherit;
	}
}
.section{
	padding:65px 0;
	@include media("<desktop") {
		padding:50px 0;
	}
	@include media("<tablet") {
		padding:30px 0;
	}
	&.alt{
		background:$gray-300;
	}
}
.bg-holder{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color:#000;
	background-repeat:no-repeat;
	background-position:50% 50%;
	background-size:cover;
	&.ratio-1x{
		display:block;
		@include media("retina2x") {
			display:none;
		}
	}
	&.ratio-2x{
		display:none;
		@include media("retina2x") {
			display:block;
		}
	}
}
.hero-slider{
	$btn-size: 64px;
	.hero-slide{
		height:calc(100vh - 148px);
		max-height:700px;
		@include media("<desktop") {
			height:calc(100vh - 50px);
			max-height:600px;
		}
		@include media("<tablet") {
			max-height:500px;
		}
	}
	a{
		display:block;
		position:relative;
		width:100%;
		height:100%;
	}
	.bg-holder{
		background-color:#000;
	}
	.title-frame{
		position:absolute;
		left:0;
		top:50%;
		width:100%;
		padding:40px 0;
		color:#fff;
		transform:translateY(-50%);
		.title{
			display:block;
			max-width:440px;
			padding:0 0 24px;
			font-size:80px;
			line-height:0.85;
			letter-spacing:-0.03263em;
			text-transform:uppercase;
			@include media("<desktop") {
				font-size:52px;
			}
			@include media("<tablet") {
				font-size:40px;
			}
		}
		em{
			display:block;
			font-size:24px;
			line-height:1.5;
			font-weight:500;
			font-style:normal;
			max-width:440px;
		}
	}
	.swiper-button-prev,
	.swiper-button-next{
		position:absolute;
		right:0;
		bottom:0;
		left:auto;
		top:auto;
		width:$btn-size;
		height:$btn-size;
		font-size:28px;
		line-height:$btn-size;
		color:#333;
		background:#fff;
		transition:background-color $animation-speed $animation-effect;
		&:hover{
			background:rgba(255, 255, 255, 0.8);
		}
		&:after{
			font-size:inherit;
		}
	}
	.swiper-button-prev{
		right:$btn-size;
		color:#fff;
		background:#b12428;
		&:hover{
			background:lighten(#b12428, 10%);
		}
	}
}
.featured-list{
	@extend %clearfix;
	display:block;
	margin:0 -6px 20px;
	div[class*="col"]{
		float:left;
		padding-left:6px;
		padding-right:6px;
	}
	.news{
		padding:6px;
		&.alt{
			@include media("≥desktop") {
				padding-bottom:2px;
			}
		}
		&.large{
			h2{
				@include media("≥desktop") {
					font-size:36px;
					line-height:39px;
				}
			}
		}
	}
	a{
		display:block;
		position:relative;
		overflow:hidden;
		color:#fff;
		&:hover{
			color:$brand-color-alt;
			img{
				transform:scale(1.2);
			}
			h2{
				transform:translateY(-6px);
			}
		}
	}
	img{
		display:block;
		width:100%;
		transition:transform 0.75s cubic-bezier(0.165, 0.84, 0.44, 1);
	}
	.caption{
		display:flex;
		align-items:flex-end;
		position:absolute;
		z-index:2;
		left:0;
		bottom:0;
		width:100%;
		height:190px;
		max-height:100%;
		padding:0 20px 20px;
		background:linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 100%);
	}
	h2{
		margin:0;
		font-size:22px;
		line-height:24px;
		font-weight:bold;
		color:inherit;
		transition:transform 0.75s cubic-bezier(0.165, 0.84, 0.44, 1);
	}
}
.banners-list{
	margin:0 -6px;
	.banner{
		padding:6px;
	}
	a{
		display:block;
		height:auto;
		max-height:187px;
		overflow:hidden;
		color:#fff;
		&:hover{
			color:$brand-color-alt;
			h3{
				background:#000;
				&:before{
					border-color:#000 transparent;
				}
			}
			img{
				filter:grayscale(0);
			}
		}
	}
	h3{
		position:relative;
		margin:0 0 2px;
		padding:2px 0;
		font-size:14px;
		line-height:22px;
		color:#fff;
		text-align:center;
		text-transform:uppercase;
		background:$primary;
		transition:background-color 0.5s;
		&:before{
			@include arrow-item(10px);
			z-index:2;
			top:100%;
			transition:border-color 0.5s;
		}
	}
	img{
		display:block;
		width:100%;
		filter:grayscale(100%);
		transition:filter 0.5s;
	}
}
.sponsors{
	position:relative;
	text-align:center;
	border-top:5px solid $primary;
	&:before{
		@include arrow-item(25px);
	}
	h1{
		margin:0 0 50px;
		font-size:40px;
		line-height:50px;
		color:inherit;
		text-transform:uppercase;
	}
}
.main .sponsors-list{
	@extend %listreset;
	padding-bottom:50px;
	font-size:0;
	line-height:0;
	&:last-child{
		padding-bottom:0;
	}
	&.secondary{
		img{
			filter:grayscale(100%);
			transition:filter 0.2s;
			&:hover{
				filter:grayscale(0);
			}
		}
	}
	li{
		display:inline-block;
		vertical-align:middle;
		max-width:228px;
		padding:0 6px 10px;
		font-size:14px;
		line-height:20px;
		font-weight:normal;
		&:before{
			display:none;
		}
	}
	img{
		display:block;
		margin:0 auto;
	}
	span{
		display:block;
	}
}
.thumbnails-list{
	margin:0 -6px;
	div[class*="col"]{
		padding:0 6px 20px;
	}
	.card{
		padding:4px;
		color:$alt-link-color;
		&:hover,
		&:focus{
			color:$alt-link-color-hover;
			outline:0;
			border-color:$link-color;
		}
	}
	.card-body{
		padding:0;
	}
	img{
		width:100%;
		margin-bottom:20px;
	}
	h3{
		margin:0 0 10px;
		font-size:24px;
		line-height:26px;
		font-weight:500;
		color:inherit;
		@include media("<tablet") {
			font-size:18px;
			line-height:20px;
		}
	}
}