$breakpoints:(
	'xs-phone':320px,
	'phone':480px,
	'tablet':768px,
	'desktop':992px,
	'widescreen':1200px
);

// keywords
$media-expressions:(
	'screen':'screen',
	'print':'print',
	'handheld':'handheld',
	'landscape':'(orientation:landscape)',
	'portrait':'(orientation:portrait)',
	'retina2x':'(-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi)',
	'retina3x':'(-webkit-min-device-pixel-ratio:2.5), (min-resolution:240dpi)'
);

// ligatured operators ≥ ≤

@import 'vendors/include-media';
@import 'custom';

@import 'base/variables';
@import 'base/functions';
@import 'base/mixins';
@import 'base/helpers';

@import 'layout/header';
@import 'layout/footer';

a,
button{
	transition: color $animation-speed $animation-effect,
				background-color $animation-speed $animation-effect,
				border-color $animation-speed $animation-effect,
				box-shadow $animation-speed $animation-effect;
}
html{
	font-size:20px;
}
html,
body,
.wrapper{
	height:100%;
}
.wrapper{
	display:flex;
	flex-direction:column;
	padding-top:146px;
	@include media("<desktop") {
		padding-top:141px;
	}
	@include media("<phone") {
		padding-top:78px;
	}
}
.header,
.footer{
	flex-shrink:0;
	color:#fff;
	background:$gray-700;
	a{
		color:#fff;
		&:hover{
			color:$link-color;
		}
	}
}
.main{
	flex-grow:1;
	position:relative;
	z-index:1;
}











