$breakpoints: (
	'xs-phone': 320px,
	'phone': 480px,
	'tablet': 768px,
	'desktop': 992px,
	'widescreen': 1200px
);

// keywords
$media-expressions: (
	'screen': 'screen',
	'print': 'print',
	'handheld': 'handheld',
	'landscape': '(orientation: landscape)',
	'portrait': '(orientation: portrait)',
	'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
	'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

// ligatured operators ≥ ≤

@import 'vendors/include-media';
@import 'custom';

@import 'base/icons';
@import 'base/variables';
@import 'base/functions';
@import 'base/mixins';
@import 'base/helpers';

html,
body,
.wrapper{
	height:100%;
}
.wrapper{
	display:flex;
	flex-direction:column;
}
.header,
.footer{
	flex-shrink:0;
	color:#fff;
	background:$gray-700;
	a{
		color:#fff;
		&:hover{
			color:$link-color;
		}
	}
}
.main{
	flex-grow:1;
}











