$gray-700: #494949;
$red: #e42313;
$primary: $red;
$link-color: $primary;
$link-hover-decoration: none;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1230px
);

@import "bootstrap/bootstrap.scss";